<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Order- Super Softee</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="../css/superSoftee.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.js"></script>

    <!--Angular Routes-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.min.js"></script>

    <script>
        // create angular app
        var validationApp = angular.module('validationApp', []);

        // create angular controller
        validationApp.controller('mainController', function($scope) {

        });

    </script>


</head>

<body>
<body ng-app="validationApp" ng-controller="mainController">
    <div class="brand">Super Softee</div>
    <div class="address-bar">3481 Melrose Place | New York, NY 10027 | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Super Softee</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/assets/html/menu.html">Menu</a>
                    </li>
                    <li>
                        <a href="/assets/html/order.html">Order</a>
                    </li>
                    <li>
                        <a href="/assets/html/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Order an
                        <strong>Ice-cream Truck</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="/assets/img/slide-1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <br>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Order
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <form name="orderform" role="form" action="/enterorder">
                            <div class="form-group col-lg-12">
                                <label>Name</label>
                                <input type="text" name="oName" id="oName" class="form-control form-control2" ng-model="order.oName" ng-pattern="/^[a-zA-Z\_\- ]*$/" required>
                                <p ng-show="orderform.oName.$error.pattern" class="help-block">Invalid Name. Letters Only.</p>
                            </div>
                             <div class="form-group col-lg-12">
                                <label>Date</label>
                                <div id="datetimepicker1" class="input-append date">
                                    <input type="text" name="oDate" id="oDate" ng-model="order.oDate"required>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Time</label>
                                <div id="datetimepicker" class="input-append date">
                                  <input type="time" name="oTime" id="oTime" ng-model="order.oTime"required>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Address</label>
                                <input type="text" name="oAddress" id="oAddress" class="form-control" ng-model="order.oAddress" required>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Phone Number</label>
                                <input type="number" name="oPhoneNumber" id="oPhoneNumber" class="form-control" ng-model="order.ophoneNumber"required ng-minlength="10"  ng-maxlength="10">
                                <p ng-show="orderform.oPhoneNumber.$error.maxlength" class="help-block">Phone number is too long.</p>
                                <p ng-show="orderform.oPhoneNumber.$error.minlength" class="help-block">Phone number is too short.</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Coupon Code</label>
                                <input type="text" name="oCoupon" id="oCoupon" class="form-control">
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default" ng-disabled="orderform.$invalid">Order</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Super Softee Website 2015</p>
                    <p><a href="/auth/authenticate/facebook"> Admin Login </a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
        $('#datetimepicker1').datetimepicker({
            format: 'dd/MM/yyyy HH:mm',
            language: 'en',
            pick12HourFormat: true
        });
    </script>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>

</html>
